NEXT_PUBLIC_SOLANA_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_KEY
NEXT_PUBLIC_FLOORLAUNCH_API_URL=https://commas-indexer.fly.dev
NEXT_PUBLIC_FLOORLAUNCH_WS_URL=wss://commas-indexer.fly.dev/ws
NEXT_PUBLIC_TOKENS_API=https://commas-indexer.fly.dev/listings
NEXT_PUBLIC_FLOORLAUNCH_FEE_TREASURY=BNbCZjxJJ3UT75XyvzHA7ZL9yb7kVonw2GR1TDtSGNAX
NEXT_PUBLIC_PRIVY_APP_ID=
